<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
      <ul class="nav navbar-nav">
          <li> <!-- class="active"> -->
              <a href="/"><span class="glyphicon glyphicon-home"></span> HOME</a>
          </li>>

          <li>
              <a href="/profile"><span class="glyphicon glyphicon-user"></span> PROFILE</a>
          </li>

          <li>
              <a href="/matches"><span class="glyphicon glyphicon-heart"></span> MATCHES</a>
          </li>

          <li>
              <a href="/search"><span class="glyphicon glyphicon-search"></span> SEARCH</a>
          </li>

          <li>
              <a href="/faq"><span class="glyphicon glyphicon-list"></span> FAQ</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="navbar-right">
              <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
          </li>
      </ul>
  </div>
</nav>